@model Order
@{
    ViewBag.Title = "Make Order";
}

<h2>Заполните форму для заказа</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-controller="Order" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <label asp-for="Name" class="form-label">User Name</label>
                <input asp-for="Name" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="Address" class="form-label">Address</label>
                <input asp-for="Address" type="text" class="form-control">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="ContactPhone" class="form-label">Contact Phone</label>
                <input asp-for="ContactPhone" type="text" class="form-control">
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="Quantity" class="form-label">Quantity</label>
                <input asp-for="Quantity" type="number" class="form-control">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="OrderDate" class="form-label">Order Date</label>
                <input asp-for="OrderDate" type="date" class="form-control">
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-row py-1">
                <label for="" class="form-label">ProductName</label>
                <input disabled type="text" class="form-control" value="@ViewBag.Product.ProductName">
                <input asp-for="ProductId" type="hidden" value="@ViewBag.Product.Id">
            </div>
            <button class="btn btn-outline-success" type="submit">Order</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}